<div
  class="container w-full min-h-screen min-w-screen overflow-hidden mx-auto px-0 py-0 flex flex-col-reverse lg:flex-row text-center"
>
  <!-- Text Section -->
  <div
    class="flex flex-col items-center justify-center w-full lg:w-1/2 px-6 py-10 gap-8 border-b-4 lg:border-b-0 lg:border-r-4 border-gray-300"
  >
    <div class="flex items-center justify-start gap-2 self-start mb-6 lg:mb-8">
      <p class="text-sm sm:text-base">START</p>
      <hr class="w-20 sm:w-28 h-1 bg-[#0056b3] rounded-xs" />
    </div>

    <div class="flex flex-col items-center justify-center px-4 sm:px-10 gap-6">
      <h1
        class="text-3xl sm:text-5xl lg:text-6xl font-bold text-dark-gray mb-4"
      >
        MICHAEL BIERUT
      </h1>
      <div class="flex flex-col items-center justify-center text-justify">
        <p class="text-base sm:text-lg text-dark-gray max-w-2xl mb-6">
          An acclaimed American graphic designer, critic, and educator. Renowned
          for his thoughtful, concept-driven approach to visual communication,
          his designs are recognized globally for their clarity and impact.
        </p>
        <p class="text-sm sm:text-base text-dark-gray max-w-2xl">
          From his early work at Vignelli Associates to his partnership at
          Pentagram, Bierut has created iconic visual identities for clients
          ranging from cultural institutions to global corporations. He is a
          leading voice shaping contemporary visual communication.
        </p>
      </div>
    </div>

    <div class="flex items-center justify-center mt-8 space-x-3">
      <p class="text-sm sm:text-base text-dark-gray font-light">
        Scroll to explore
      </p>
      <i
        class="fa-solid fa-arrow-right text-base sm:text-xl"
        style="color: #0056b3"
      ></i>
    </div>
  </div>

  <!-- Image Section -->
  <div
    class="flex items-center justify-center w-full lg:w-1/2 min-h-[50vh] lg:min-h-screen bg-no-repeat bg-cover bg-center bg-black/20 bg-blend-overlay"
    style="background-image: url('assets/images/Bierut-Bkgv2.png')"
  >
    <div class="p-4">
      <img
        src="assets/images/MB-PartnerPortrait.png"
        alt="Michael Bierut"
        class="rounded-md w-48 h-48 sm:w-64 sm:h-64 lg:w-80 lg:h-80 border border-gray-300 mb-6 sm:mb-8"
      />
    </div>
  </div>
</div>
