<nav
  class="fixed top-0 left-0 w-screen max-w-screen bg-transparent shadow z-50"
>
  <div class="max-w-full mx-6 px-1 py-2 flex items-center justify-between">
    <!-- Company Name -->
    <div
      class="text-xl font-bold text-[#0056B3]"
      style="font-family: 'Inter', sans-serif"
    >
      Michael Bierut Timeline
    </div>
    <!-- CTA Button & Share Icon -->
    <div class="flex items-center space-x-2">
      <!-- <button
        class="py-2 px-4 rounded-full cursor-pointer text-[#0056b3]"
        aria-label="Share"
      >
        <i class="fas fa-share-nodes hover:text-white text-xl"></i>
      </button> -->
      <button
        class="bg-gray-200 px-2 py-1 border-2 border-gray-300 rounded-full cursor-pointer"
      >
        <div
          class="hover:text-blue-600 transition font-bold flex items-center gap-2 text-[#0056B3]"
          style="font-family: 'Inter', sans-serif"
        >
          <i class="fa-solid fa-timeline text-[#0056b3]"></i>
          Navigate Timeline
        </div>
      </button>
    </div>
  </div>
</nav>
